<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Cars</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<div class="container">
    <h3>List of Cars to Rent</h3>
    <hr/>
    <a th:href="@{/admin/car-form}" class="btn btn-primary mb-2">Add Car</a>
    <table class="table table-bordered table-striped" id="carsTable">
        <thead>
        <tr>
            <th>Category</th>
            <th>Make</th>
            <th>Model</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cars: ${listCars}">
            <td th:text="${cars.category}"/>
            <td th:text="${cars.make}"/>
            <td th:text="${cars.model}"/>
            <td th:text="${cars.price}"/>
            <td><img th:src="'/resources/images/' + ${cars.image}"></td>
            <td>
                <a th:href="@{/admin/showUpdateForm(carsId=${cars.id})}" class="btn btn-info">Update</a>
                <a th:href="@{/admin/deleteCars(carsId=${cars.id})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#carsTable").DataTable({
            'aoColumnDefs': [{
                'bSortable': false,
                'aTargets': [-1, -2]
            }]
        });
    })
</script>
</body>
</html>