<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
    <div class="container text-center mt-5">
        <div>
            <h1>Registration - Sign Up</h1>
        </div>
        <form th:action="@{/processRegister}" th:object="${user}"
            method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">

            <div class="form-group row">
                <label class="col-4 col-form-label">First name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{firstName}" class="form-control"
                           required minlength="2" maxlength="20"/>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Last name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{lastName}" class="form-control"
                           required minlength="2" maxlength="20"/>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                            required minlength="6" maxlength="10"/>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Confirm: </label>
                <div class="col-8">
                    <input type="password" th:field="*{retypePassword}" class="form-control"
                           required minlength="6" maxlength="10"/>
                    <p class="alert alert-danger" th:if="${#fields.hasErrors('retypePassword')}" th:errors="*{retypePassword}">
                </div>
            </div>



            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
        </form>
    </div>

</body>
</html>